<div id="contact">
    <div class="header_image"></div>
    <div class="wrapper">
        <div class="inner">
            <h1>{{post ? post.title.rendered : "..."}}</h1>
            <div class="breadcrumbs">
                <span><a href="#" routerLink="/">Spider Grupa</a> <span class='spanArrow'>></span> </span>
                <span>{{post ? post.title.rendered : "..."}}</span>
            </div>
        </div>
    </div>
    <hr/>
	<div class="contact_content">
		<div class="wrapper">
			<div class="left">
				<form id="contact_form" [formGroup]="contactForm" *ngIf="!shouldDisplayThankYou">
					<label>
						{{"contact.your_name" | translate}}
						<input type="text" class="form-input" formControlName="contact_name"/>
						<p class="small error">{{"contact.name_obligatory" | translate}}</p>
					</label>
					<label>
						{{"contact.your_email" | translate}}
						<input type="email" class="form-input" formControlName="contact_email"/>
						<p class="small error">{{"contact.email_obligatory" | translate}}</p>
					</label>
					<label>
						{{"contact.message" | translate}}
						<textarea class="form-input" formControlName="contact_message"></textarea>
						<p class="small error">{{"contact.message_obligatory" | translate}}</p>
                    </label>
                    <label class="gdpr">
                        <input type="checkbox" formControlName="gdpr" required/>
                        <span [innerHTML]="'contact.gdpr' | translate"></span>
                    </label>
					<button class="primary" (click)="validateAndSendContactForm();" [disabled]="!(contactForm.valid)" aria-label="Send contact">{{"contact.send" | translate}}</button>
                </form>
                <div *ngIf="shouldDisplayThankYou">
                    <h4>Hvala na poslanoj poruci. Javit ćemo se u što kraćem roku!</h4>
                    <a href="#" routerLink="/" class="link">Povratak na naslovnicu</a>
                </div>
			</div>
			<div class="center" [innerHTML]="post && post.acf.company_data ? post.acf.company_data : '...'"></div>
			<div class="right" [innerHTML]="post && post.acf.privacy_protection ? post.acf.privacy_protection : '...'"></div>
        </div>
	</div>
    <hr/>
    <div class="additional_info">
        <div class="wrapper">
            <p [innerHTML]="post && post.acf.additional ? post.acf.additional : '...'"></p>
        </div>
    </div>
</div>