@import "../../../styles"

#contact
    padding-bottom: 60px
    +media($sm)
        padding-bottom: 30px
    hr
        border: none
        border-bottom: 1px solid #ddd
        margin: 0
    .header_image
        width: 100%
        background-image: url("/assets/images/kontakt_slika.jpg")
        background-size: cover
        height: 130px
        background-position: center
    .wrapper
        .inner
            +span-columns(6)
            +shift(3)
            +media($md)
                +span-columns(10)
                +shift(1)
            +media($mobile)
                +span-columns(12)
                +shift(0)
            h1
                margin-bottom: 10px
                margin-top: 30px
            .breadcrumbs
                margin-bottom: 30px
                .spanArrow
                    margin: 0 10px
            &.blog
                padding-bottom: 160px
                img
                    max-width: 100%
                p:not(.intro)
                    font-family: Unna
                    font-size: 22.62px
                    letter-spacing: -0.5px
                    line-height: 27px
    .contact_content
        padding: 60px 0
        +media($sm)
            padding-top: 40px
            padding-bottom: 20px
        +media($mobile)
            padding-top: 30px
        .wrapper
            display: flex
            +media($sm)
                display: block
                +row()
            .left
                float: left
                width: 33.3333333%
                padding-right: 80px
                border-right: 1px solid #ddd
                .gdpr
                    display: block
                    margin-bottom: 10px
                button
                    cursor: pointer
                +media($lg)
                    padding-right: 30px
                +media($sm)
                    +span-columns(10)
                    +shift(1)
                    margin-bottom: 30px;
                    border: none
                    padding: 0
                +media($mobile)
                    +span-columns(12)
                    +shift(0)
            .center
                float: left
                width: 33.3333333%
                padding-left: 80px
                padding-right: 60px
                border-right: 1px solid #ddd
                +media($lg)
                    padding-left: 30px
                    padding-right: 20px
                +media($sm)
                    +span-columns(5)
                    +shift(1)
                    border: none
                    padding: 0
                +media($mobile)
                    +span-columns(12)
                    +shift(0)
                    margin-bottom: 30px
                &::ng-deep
                    h2
                        margin-top: 0
                    a
                        @extend .link
            .right
                float: left
                width: 33.3333333%
                padding-left: 80px
                +media($lg)
                    padding-left: 30px
                +media($sm)
                    +span-columns(5)
                    +shift(0)
                    border: none
                    padding: 0
                +media($mobile)
                    +span-columns(12)
                    +shift(0)
                &::ng-deep
                    h3
                        margin-top: 0
                    a
                        @extend .link
    .additional_info
        padding: 30px 0 0 0
        .wrapper
            p::ng-deep
                color: #A6A8AB
                margin: 0