@import "~bourbon-neat/app/assets/stylesheets/neat"
@import "~bourbon-neat/app/assets/stylesheets/neat-helpers"
@import "../../../styles"

#news
    padding-bottom: 60px
    hr
        border: none
        border-bottom: 1px solid #ddd
        margin: 0
    .header_image
        width: 100%
        background-image: url("/assets/images/novosti_slika.jpg")
        background-size: cover
        height: 130px
        background-position: center
    .wrapper
        .inner
            +span-columns(6)
            +shift(3)
            +media($md)
                +span-columns(10)
                +shift(1)
            +media($mobile)
                +span-columns(12)
                +shift(0)
            h1
                margin-bottom: 10px
                margin-top: 30px
                +media($mobile)
                    margin-top: 23px
            .breadcrumbs
                margin-bottom: 30px
                .spanArrow
                    margin: 0 10px
            &.blog
                padding-bottom: 160px
                img
                    max-width: 100%
                p:not(.intro)
                    font-family: Unna
                    font-size: 22.62px
                    letter-spacing: -0.5px
                    line-height: 27px
    .news_content
        padding: 60px 0 0 0
        +media($sm)
            padding: 40px 0 0 0
        +media($mobile)
            padding: 30px 0 0 0
        .wrapper
            .inner
                +span-columns(8)
                +shift(2)
                +media($lg)
                    +span-columns(10)
                    +shift(1)
                +media($sm)
                    +span-columns(10)
                    +shift(1)
                +media($mobile)
                    +span-columns(12)
                    +shift(0)
                .item
                    margin-bottom: 60px
                    +media($sm)
                        +span-columns(6)
                        +omega(2n)
                        margin-bottom: 40px
                    +media($mobile)
                        +span-columns(12)
                        +omega()
                        margin-bottom: 30px
                    .image
                        width: 200px
                        height: 150px
                        margin-right: 40px
                        display: inline-block
                        vertical-align: top
                        background-size: cover
                        background-position: center
                        +media($sm)
                            width: 100%
                            margin-bottom: 20px
                    .content
                        width: calc(100% - 250px)
                        display: inline-block
                        vertical-align: top
                        +media($sm)
                            width: 100%
                        a
                            text-decoration: none
                            color: inherit
                            h3
                                margin: 0 0 10px 0
                                color: inherit
                        p
                            margin: 10px 0
                            color: #515058
                            &.date
                                margin-bottom: 0
            .pagination
                +row()
                float: left
                width: 100%

