<div id="news">
    <div class="header_image"></div>
    <div class="wrapper">
        <div class="inner">
            <h1>{{'news.news' | translate}}</h1>
            <div class="breadcrumbs">
                <span><a href="#" routerLink="/">Spider Grupa</a> <span class='spanArrow'>></span> </span>
                <span>{{'news.news' | translate}}</span>
            </div>
        </div>
    </div>
    <hr/>
    <div class="news_content">
    	<div class="wrapper">
    		<div class="inner">
    			<div class="item" *ngFor="let item of posts; let i = index;">
    				<a href="#" routerLink="/news/{{item.slug}}"><div class="image" [style.backgroundImage]="'url(' + getFeaturedImageUrl(item.better_featured_image) + ')'"></div></a>
    				<div class="content">
    					<a href="#" routerLink="/news/{{item.slug}}"><h3 [innerHTML]="item.title.rendered"></h3></a>
    					<div [innerHTML]="item.excerpt.rendered"></div>
    					<p class="date">{{item.date_gmt | date:'longDate'}}</p>
    				</div>
                </div>
    		</div>
            <div class="pagination">
                <app-pagination [totalPages]="totalPages" [paginationDataInput]="paginationData" *ngIf="totalPages"></app-pagination>        
            </div>
    	</div>
    </div>
</div>