<div id="about">
    <div class="header_image"></div>
    <div class="wrapper">
        <div class="inner">
            <h1>{{post ? post.title.rendered : "..."}}</h1>
            <div class="breadcrumbs">
                <span><a href="#" routerLink="/">Spider Grupa</a> <span class='spanArrow'>></span> </span>
                <span>{{post ? post.title.rendered : "..."}}</span>
            </div>
        </div>
    </div>
    <hr/>
    <div class="wrapper">
        <div class="inner blog" [innerHTML]="post.content.rendered" *ngIf="post"></div>
    </div>
    <hr/>
    <div class="wrapper" id="slider">
        <div class="slider">
            <div class="arrow_left" (click)="moveSlidePrev();">
                <fa [name]="'chevron-left'"></fa>
            </div>
            <div class="middle_content" *ngIf="company_history && company_history.length && ready">
                <ngx-slick-carousel class="carousel" #slickModal="slick-carousel" [config]="slideConfig" (afterChange)="slickUpdate($event)">
                    <div ngxSlickItem *ngFor="let item of company_history" class="slide">
                        <div [style.backgroundImage]="'url(' + item.image.sizes.about_slider + ')'" *ngIf="item && item.image && item.image.sizes && item.image.sizes.about_slider"></div>
                    </div>
                </ngx-slick-carousel>
                <div class="switcher">
                    <span *ngFor="let item of company_history; let i = index;" [ngClass]="{'active': i == slideIndex}" (click)="goToSlide(i); slickModal.slickGoTo(i)">{{item.year}}</span>
                    <div class="content">
                        <p>{{company_history && company_history.length && company_history[slideIndex] && company_history[slideIndex].content ? company_history[slideIndex].content : '...'}}</p>
                    </div>
                </div>
            </div>
            <div class="arrow_right" (click)="moveSlideNext();">
                <fa [name]="'chevron-right'"></fa>
            </div>
        </div>
    </div>
</div>
