@import "~bourbon-neat/app/assets/stylesheets/neat"
@import "~bourbon-neat/app/assets/stylesheets/neat-helpers"
@import "../../../styles"

#about
    padding-bottom: 60px
    +media($sm)
        padding-bottom: 40px
    +media($mobile)
        padding-bottom: 30px
    hr
        border: none
        border-bottom: 1px solid #ddd
    .header_image
        width: 100%
        background-image: url("/assets/images/o_kompaniji.jpg")
        background-size: cover
        height: 130px
        background-position: center
    .wrapper
        .inner
            +span-columns(6)
            +shift(3)
            +media($md)
                +span-columns(10)
                +shift(1)
            +media($mobile)
                +span-columns(12)
                +shift(0)
            h1
                margin-bottom: 10px
                margin-top: 30px
                +media($mobile)
                    margin-top: 15px
            .breadcrumbs
                margin-bottom: 30px
                .spanArrow
                    margin: 0 10px
                +media($mobile)
                    margin-bottom: 15px
            &.blog::ng-deep
                padding-bottom: 160px
                +media($sm)
                    padding-bottom: 40px
                +media($mobile)
                    padding-bottom: 30px
                img
                    max-width: 100%
                    height: auto
                p:not(.intro)
                    font-family: Unna
                    font-size: 22.62px
                    letter-spacing: -0.5px
                    line-height: 27px
                *
                    &:last-child
                        margin-bottom: 0
    #slider
        margin-top: 60px
        +media($sm)
            margin-top: 40px
        +media($mobile)
            margin-top: 30px
        .slider
            +span-columns(10)
            +shift(1)
            +row()
            +media($lg)
                +span-columns(12)
                +shift(0)
            display: flex
            .arrow_left
                +span-columns(1 of 10, block-collapse)
                +omega()
                height: 100%;
                padding-top: 15%
                +media($lg)
                    padding-top: 170px
                +media($sm)
                    display: none
                fa::ng-deep
                    cursor: pointer
                    i
                        font-size: 55px
                        color: $primary
            .middle_content
                +span-columns(8 of 10, block-collapse)
                +omega()
                +media($sm)
                    +span-columns(12 of 12)
                .carousel::ng-deep
                    .slide
                        div
                            height: 400px
                            width: 100%
                            background-size: cover
                            background-position: center
                            +media($mobile)
                                height: 240px
                .switcher
                    margin-top: 30px
                    +shift(1 of 8)
                    +span-columns(7 of 8)
                    +media($md)
                        +shift(0)
                        +span-columns(8 of 8)
                    +media($sm)
                        +span-columns(12 of 12)
                    span
                        @extend h5
                        margin: 0 5px
                        cursor: pointer
                        vertical-align: top
                        display: inline-block
                        &.active
                            color: #F16522
                            display: inline-block
                            width: 150px
                            position: relative
                            overflow: hidden
                            +media($md)
                                width: 60px
                            +media($sm)
                                width: auto
                            &:after
                                content: " "
                                position: absolute
                                height: 1px
                                width: 130px
                                background-color: #ddd
                                top: 50%
                                right: -25px
                                +media($md)
                                    right: -115px
                                +media($sm)
                                    display: none
                    .content
                        margin-left: 5px
                        p
                            font-family: Unna;
                            font-size: 22.62px;
                            letter-spacing: -0.5px;
                            line-height: 27px;
                            margin-bottom: 0
            .arrow_right
                +span-columns(1 of 10, block-collapse)
                +omega()
                height: 100%;
                text-align: right
                padding-top: 15%
                +media($lg)
                    padding-top: 170px
                +media($sm)
                    display: none
                fa::ng-deep
                    cursor: pointer
                    i
                        font-size: 55px
                        color: $primary
