<div id="news_single">
    <div class="wrapper">
        <div class="inner">
            <h1>Novosti</h1>
            <div class="breadcrumbs">
                <span><a href="#" routerLink="/">Spider Grupa</a> <span class='spanArrow'>></span> </span>
                <span><a href="#" routerLink="/news">Novosti</a> <span class='spanArrow'>></span> </span>
                <span [innerHTML]="post ? post.title.rendered : '...'"></span>
            </div>
        </div>
    </div>
    <hr/>
    <div class="news_single_content">
    	<div class="wrapper">
	    	<div class="return_column">
	    		<a href="#" class="link" routerLink="/news">{{"news.news_return" | translate}}</a>
	    	</div>
	    	<div class="content_column" *ngIf="post">
                <h2 [innerHTML]="post.title.rendered"></h2>
	    		<div [innerHTML]="post.content.rendered | keepHtml" *ngIf="post"></div>
	    		<p class="date">{{post.date_gmt | date:'longDate'}}</p>
	    	</div>
    	</div>
    </div>
</div>