@import "~bourbon-neat/app/assets/stylesheets/neat"
@import "~bourbon-neat/app/assets/stylesheets/neat-helpers"
@import "../../../styles"

#news_single
    padding-bottom: 60px
    +media($sm)
        padding-bottom: 40px
    +media($mobile)
        padding-bottom: 30px
    hr
        border: none
        border-bottom: 1px solid #ddd
        margin: 0
    .wrapper
        .inner
            +span-columns(6)
            +shift(3)
            +media($md)
                +span-columns(10)
                +shift(1)
            +media($mobile)
                +span-columns(12)
                +shift(0)
            h1
                margin-bottom: 10px
                margin-top: 30px
                +media($mobile)
                    margin-top: 15px
            .breadcrumbs
                margin-bottom: 30px
                .spanArrow
                    margin: 0 10px
                +media($mobile)
                    margin-bottom: 15px
            &.blog
                padding-bottom: 160px
                img
                    max-width: 100%
                p:not(.intro)
                    font-family: Unna
                    font-size: 22.62px
                    letter-spacing: -0.5px
                    line-height: 27px
    .news_single_content
        padding: 60px 0
        +media($sm)
            padding-top: 30px
            padding-bottom: 0
        .wrapper
            .return_column
                +span-columns(3)
                +media($md)
                    +span-columns(10)
                    +shift(1)
                    margin-bottom: 30px
                +media($mobile)
                    +span-columns(12)
                    +shift(0)
            .content_column
                +span-columns(6)
                +media($md)
                    +span-columns(10)
                    +shift(1)
                +media($mobile)
                    +span-columns(12)
                    +shift(0)
                h2
                    margin-top: 0
                div::ng-deep
                    img
                        max-width: 100%
                        height: auto
                    p:not(.intro)
                        font-family: Unna
                        font-size: 22.62px
                        letter-spacing: -0.5px
                        line-height: 27px
                    a
                        @extend .link
                .date
                    color: #A6A8AB
                    margin-bottom: 0
