@import "~bourbon-neat/app/assets/stylesheets/neat"
@import "~bourbon-neat/app/assets/stylesheets/neat-helpers"
@import "../../../styles"

footer
    padding-top: 60px
    padding-bottom: 60px
    +media($sm)
        padding-top: 40px
        padding-bottom: 40px
    +media($mobile)
        padding-top: 30px
        padding-bottom: 30px
    .wrapper
        .left
            vertical-align: middle
            +span-columns(4)
            +media($sm)
                +span-columns(12)
                text-align: center
                margin-bottom: 20px;
                display: none
            .connect
                display: inline-block
                vertical-align: middle
                margin: 0
                margin-right: 20px
            .social_holder
                vertical-align: middle
                a
                    display: inline-block
                    height: 60px
                    width: 60px
                    margin-right: 5px
                    border-radius: 50%
                    background-color: #ddd
                    text-align: center
                    padding: 13px 0
                    transition: .3s ease
                    +media($md)
                        height: 40px
                        width: 40px
                        padding: 4px 0
                    &:hover
                        background-color: #005356
                    fa::ng-deep
                        display: inline-block
                        i
                                color: white
                                font-size: 23px
                                line-height: 34px
        .center
            +span-columns(6)
            vertical-align: middle
            margin-top: 21px
            +media($md)
                margin-top: 0px
            +media($sm)
                +span-columns(12)
                text-align: center
                margin-bottom: 20px;
            span
                color: #515058
        .right
            +span-columns(2)
            text-align: right
            +media($sm)
                +span-columns(12)
                text-align: center
                margin-bottom: 20px;
            .logo
                display: inline-block
                +media($sm)
                    width: 100px;
                img
                    +media($md)
                        max-width: 100%

