<footer>
    <div class="wrapper">
        <div class="left">
            <!--<h5 class="connect">{{"footer.connect" | translate}}</h5>-->
            <span class="social_holder">
                <!--
                <a href="#" rel="nofllow" target="_blank">
                    <fa [name]="'facebook-f'"></fa>
                </a>
                <a href="#" rel="nofllow" target="_blank">
                    <fa [name]="'instagram'"></fa>
                </a>
                <a href="#" rel="nofllow" target="_blank">
                    <fa [name]="'linkedin'"></fa>
                </a>
                -->
                &nbsp;
            </span>
        </div>
        <div class="center">
            <span>{{"footer.spider_group" | translate}}</span>
            &nbsp;
            <a href="#" routerLink="/page/terms-and-conditions" class="link">{{"footer.terms_of_use" | translate}}</a>
            &nbsp;
            <a href="#" routerLink="/page/privacy-policy" class="link">{{"footer.privacy_policy" | translate}}</a>
        </div>
        <div class="right">
            <div class="logo">
                <a href="#" routerLink="/"><img src="/assets/images/logo.png" alt="Spider Groupa d.o.o."/></a>
            </div>
        </div>
    </div>
</footer>