<div id="gallery">
    <div class="wrapper">
        <div class="inner">
            <h1>{{post ? post.title.rendered : "..."}}</h1>
            <div class="breadcrumbs">
                <span><a href="#" routerLink="/">Spider Grupa</a> <span class='spanArrow'>></span> </span>
                <span>{{post ? post.title.rendered : "..."}}</span>
            </div>
        </div>
    </div>
    <hr/>
    <div class="gallery_chooser" *ngIf="post && post.acf && post.acf.gallery">
        <a href="#" routerLink="/gallery/{{item.category_image.name}}" *ngFor="let item of post.acf.gallery">
            <div class="type">
                <div class="special_button">
                    <h2>{{item.category_name}}</h2>
                </div>
                <div class="background_holder" [ngStyle]="{'background-image': 'url('+item.category_image.sizes.gallery_category+')'}"></div>
            </div>
        </a>
    </div>
</div>
