@import "~bourbon-neat/app/assets/stylesheets/neat"
@import "~bourbon-neat/app/assets/stylesheets/neat-helpers"
@import "../../../styles"

#gallery
    //padding-bottom: 60px
    hr
        border: none
        border-bottom: 1px solid #ddd
        margin: 0
    .header_image
        width: 100%
        background-image: url("/assets/images/dummy.jpg")
        background-size: cover
        height: 130px
        background-position: center
    .wrapper
        .inner
            +span-columns(6)
            +shift(3)
            +media($md)
                +span-columns(10)
                +shift(1)
            +media($mobile)
                +span-columns(12)
                +shift(0)
            h1
                margin-bottom: 10px
                margin-top: 30px
                +media($mobile)
                    margin-top: 15px
            .breadcrumbs
                margin-bottom: 30px
                .spanArrow
                    margin: 0 10px
                +media($mobile)
                    margin-bottom: 15px
            &.blog
                padding-bottom: 160px
                img
                    max-width: 100%
                p:not(.intro)
                    font-family: Unna
                    font-size: 22.62px
                    letter-spacing: -0.5px
                    line-height: 27px
    .gallery_chooser
        +outer-container(100%)
        a
            +row()
            overflow: hidden
            width: 33.33333333333%
            display: inline-block
            .type
                height: 610px
                width: 100%
                float: left
                +omega()
                position: relative
                +media($lg)
                    height: 360px
                +media($md)
                    height: 310px
                +media($sm)
                    width: 100%
                .background_holder
                    +customTransition(1000ms)
                    background-repeat: no-repeat
                    background-position: center
                    background-size: cover
                    position: absolute
                    top: 0
                    left: 0
                    bottom: 0
                    right: 0
                    width: 100%
                    height: 100%
                    z-index: 1
                .special_button
                    position: absolute
                    top: 50%
                    left: 50%
                    width: calc(100% - 200px)
                    text-align: center
                    padding: 15px 0
                    color: white
                    background-color: $primary
                    transform: translate(-50%, -50%)
                    height: 100px
                    z-index: 2
                    +media($lg)
                        width: calc(100% - 100px)
                    +media($md)
                        width: calc(100% - 50px)
                    +media($sm)
                        width: calc(100% - 200px)
                    +media($mobile)
                        width: calc(100% - 50px)
                    h2
                        margin: 0
                        position: absolute
                        width: 100%
                        top: 50%
                        margin-top: -19px
                        font-weight: bolder
                        color: white
                    &:before
                        content: " "
                        position: absolute
                        height: 0;
                        width: 100%
                        background-color: $primary
                        top: 0
                        left: 0
                        +customTransition(1000ms)
                    &:after
                        content: " "
                        position: absolute
                        height: 0;
                        width: 100%
                        background-color: $primary
                        bottom: 0
                        left: 0
                        +customTransition(1000ms)
                &:hover
                    .special_button
                        &:before
                            content: " "
                            position: absolute
                            height: 100px;
                            width: 100%
                            background-color: $primary
                            top: -80px
                            left: 0
                        &:after
                            content: " "
                            position: absolute
                            height: 100px;
                            width: 100%
                            background-color: $primary
                            bottom: -80px
                            left: 0
            &:hover
                .type
                    .background_holder
                        transform: scale(1.2)


