<header>
    <div class="wrapper">
        <div class="logo">
            <a href="#" routerLink="/"><img src="/assets/images/logo.png" alt="Spider Groupa d.o.o."/></a>
        </div>
        <nav [ngClass]="{'isVisible': navIsVisible}">
            <ul class="items">
                <li><a href="#" routerLink="/about">{{"header.about" | translate}}</a></li>
                <li><a href="#" routerLink="/gallery">{{"header.gallery" | translate}}</a></li>
                <li><a href="#" routerLink="/news">{{"header.news" | translate}}</a></li>
                <li><a href="#" routerLink="/contact">{{"header.contact" | translate}}</a></li>
            </ul>
        </nav>
        <fa [name]="'bars'" (click)="toggleNav();"></fa>
        <div class="lang_switcher">
            <a href="#" (click)="switchLang('hr', $event)" class="link" [ngClass]="{'active': activeLanguage == 'hr'}">HR</a>
            <span>/</span>
            <a href="#" (click)="switchLang('en', $event)" class="link" [ngClass]="{'active': activeLanguage == 'en'}">EN</a>
        </div>
    </div>
</header>
