@import "~bourbon-neat/app/assets/stylesheets/neat"
@import "~bourbon-neat/app/assets/stylesheets/neat-helpers"
@import "../../../styles"

header
    position: relative
    .wrapper
        .logo
            +span-columns(2)
            +media($md)
                width: 95px
                
            img
                max-width: 100%
                margin-top: 28px
                margin-bottom: 28px
        nav
            +span-columns(9)
            +media($md)
                +span-columns(8)
            +media($sm)
                position: absolute
                float: none
                width: 100%
                border-top: 1px solid #ddd
                border-bottom: 1px solid #ddd
                background-color: white
                padding: 30px
                top: 100px
                left: 0
                z-index: 50
                display: none
                &.isVisible
                    display: block
            ul
                margin: 0
                padding: 0
                +media($lg)
                    padding-left: 20px
                +media($sm)
                    padding: 0
                li
                    list-style: none
                    display: inline-block
                    border-top: 5px solid transparent
                    margin-right: 45px
                    +media($md)
                        margin-right: 35px
                    +media($sm)
                        display: block
                        width: 100%
                        margin: 0 0 30px 0
                        &:last-child
                            margin-bottom: 0
                    &.active
                        border-top:
                    a
                        display: inline-block
                        padding: 42px 0
                        text-decoration: none
                        border: none
                        text-transform: uppercase
                        color: #4A4A4A
                        +media($md)
                            padding: 32px 0
                        +media($sm)
                            padding: 0
        .lang_switcher
            float: right
            +span-columns(1)
            +omega()
            +right()
            margin-top: 48px
            margin-bottom: 48px
            +media($md)
                +span-columns(2)
                margin-top: 37px
                margin-bottom: 37px
            +media($sm)
                float: right
                text-align: center
            +media($mobile)
                width: 70px
            a
                font-weight: 900
                &.active
                    border: none
                    color: $text
            span
                color: #A6A8AB
                margin: 0 5px
                display: inline-block
        fa
            display: none
            +media($sm)
                font-size: 30px;
                margin-top: 34px;
                display: inline-block;
                float: right;
                margin-left: 20px
                cursor: pointer
