<div id="page_single">
    <div class="wrapper">
        <div class="inner">
            <h1>{{post ? post.title.rendered : '...'}}</h1>
            <div class="breadcrumbs">
                <span><a href="#" routerLink="/">Spider Grupa</a> <span class='spanArrow'>></span> </span>
                <span>{{post ? post.title.rendered : '...'}}</span>
            </div>
        </div>
    </div>
    <hr/>
    <div class="news_single_content">
    	<div class="wrapper">
	    	<div class="content_column" *ngIf="post">
	    		<div [innerHTML]="post.content.rendered | keepHtml" *ngIf="post"></div>
	    		<p class="date">{{post.date_gmt | date:'longDate'}}</p>
	    	</div>
    	</div>
    </div>
</div>