<div id="homepage">
    <div class="intro">
        <div class="wrapper">
            <div class="inner">
                <h1>{{post && post.acf ? post.acf.title : '...'}}</h1>
                <a href="#" class="link" routerLink="/about">{{"home.find_out_more" | translate}}</a>
                <h3 class="intro_text">{{post && post.acf ? post.acf.intro_text : '...'}}</h3>
                <div class="image_holder">
                    <div class="img_bg"></div>
                    <div class="img" (click)="playVideo($event);">
                        <img src="/assets/images/play_button.svg" alt="play"/>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="news">
        <div class="wrapper">
            <h2>{{"home.news" | translate}}</h2>
            <a href="#" routerLink="/news" class="link right">{{"home.all_news" | translate}}</a>
            <div class="news_container">
                <div class="item" *ngFor="let item of posts; let i = index;">
                    <div *ngIf="item">
                        <a href="#" routerLink="/news/{{item.slug}}"><div class="image" [style.backgroundImage]="'url(' + getFeaturedImageUrl(item.better_featured_image) + ')'"></div></a>
                        <a href="#" routerLink="/news/{{item.slug}}" *ngIf="item"><h4 [innerHTML]="item.title.rendered"></h4></a>
                        <p [innerHTML]="(item.excerpt.rendered.length > 200)? (item.excerpt.rendered | slice:0:200)+'..':(item.excerpt.rendered)"></p>
                        <a href="#" routerLink="/news/{{item.slug}}" class="link">{{"home.continue_reading" | translate}}</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="companies" *ngIf="post && post.acf && post.acf.companies">
        <div class="wrapper">
            <h2>{{"home.companies" | translate}}</h2>
            <div class="companies_row">
                <span href="#" target="_blank" *ngFor="let item of post.acf.companies"><img src="{{item.company.sizes.home_image}}" alt="Partner logo"/></span>
            </div>
        </div>
    </div>
</div>

<div class="video" *ngIf="(post && post.acf) && showVideo">
    <video controls autoplay>
        <source src="{{post.acf.video}}" type="video/mp4" />
        Browser not supported
    </video>
    <div class="close_icon" (click)="stopVideo($event);">
        <fa [name]="'times'"></fa>
    </div>
</div>

