@import "~bourbon-neat/app/assets/stylesheets/neat"
@import "~bourbon-neat/app/assets/stylesheets/neat-helpers"
@import "../../../styles"
    
#homepage
    .intro
        .wrapper
            .inner
                +span-columns(9)
                +shift(2)
                +media($md)
                    +span-columns(12)
                    +shift(0)
                h1
                    margin-top: 100px
                    +media($md)
                        margin-top: 30px
                    +media($mobile)
                        margin-bottom: 5px
                h3
                    +span-columns(5 of 9)
                    +shift(4 of 9)
                    position: relative
                    z-index: 5
                    +media($sm)
                        +span-columns(12 of 12)
                        +shift(0)
                .image_holder
                    +span-columns(8 of 9)
                    height: 350px
                    position: relative
                    z-index: 3
                    margin-top: -50px
                    margin-bottom: -110px
                    +media($sm)
                        +span-columns(12 of 12)
                        height: 250px
                    .img_bg
                        position: absolute
                        width: calc(100% + 30px)
                        height: calc(100% + 30px)
                        top: -0px
                        left: -15px
                        z-index: 1
                        background-image: url("/assets/images/home_image.jpg")
                        background-size: cover
                        filter: blur(15px)
                        opacity: .5
                        +customTransition(500ms)
                    .img
                        position: absolute
                        width: 100%
                        height: 100%
                        cursor: pointer
                        z-index: 2
                        background-image: url("/assets/images/home_image.jpg")
                        background-size: cover
                        img
                            position: absolute
                            top: 50%
                            left: 50%
                            transform: translate(-50%, -50%)
                            +media($sm)
                                width: 80px
                    &:hover
                        .img_bg
                            filter: blur(30px)
                            opacity: 1
    .news
        background-color: #F1F2F3
        padding-top: 180px
        padding-bottom: 60px
        +media($mobile)
            padding-top: 160px
        .wrapper
            .right
                float: right
                margin-top: 15px
                +media($lg)
                    margin-top: 10px
            h2
                display: inline-block
                margin-top: 0
                margin-bottom: 30px
            .news_container
                +row()
                .item
                    +span-columns(3)
                    +media($sm)
                        +span-columns(6)
                        +omega(2n)
                        &:first-child, &:nth-child(2)
                            margin-bottom: 30px
                    +media($mobile)
                        +span-columns(12)
                        +omega()
                        margin-bottom: 30px
                    a:not(.link)
                        color: $text
                        border: none
                        text-decoration: none
                    .image
                        max-width: 100%
                        height: 180px
                        background-size: cover
                        background-position: center
                    h4
                        margin: 10px 0
                        color: inherit
                    p
                        margin: 0 0 10px 0
                    &:last-child
                        margin-bottom: 0
    .companies
        padding: 60px 0
        +media($sm)
            padding: 40px 0
        +media($mobile)
            padding: 30px 0
        .wrapper
            h2
                margin-top: 0
                margin-bottom: 30px
            .companies_row
                +row()
                span
                    +span-columns(3)
                    height: 200px
                    border: 1px solid #DDDDDD
                    text-align: center
                    position: relative
                    +media($md)
                        height: 150px
                    +media($sm)
                        height: 90px
                    +media($mobile)
                        +span-columns(6)
                        +omega(2n)
                        margin-bottom: 6px
                    img
                        max-width: 200px
                        max-height: 100px
                        position: absolute
                        left: 50%
                        top: 50%
                        transform: translate(-50%, -50%)
                        +media($md)
                            max-width: 80%
.video
    position: fixed
    background-color: rgba(255,255,255,.7)
    top: 0
    left: 0
    bottom: 0
    right: 0
    z-index: 5
    width: 100%
    height: 100%
    overflow: hidden
    +media($sm)
        background-color: rgba(255,255,255,.9)
    video
        position: absolute
        top: 50%
        left: 50%
        transform: translate(-50%,-50%)
        width: calc(100% - 767px)
        height: auto
        +media($sm)
            width: calc(100% - 60px)
            height: auto
    .close_icon
        position: absolute
        top: 60px
        right: 60px
        fa
            font-size: 28px
            cursor: pointer



                        
                    
