@import "~bourbon-neat/app/assets/stylesheets/neat"
@import "~bourbon-neat/app/assets/stylesheets/neat-helpers"
@import "../../../styles"

#gallery
    padding-bottom: 60px
    +media($md)
        padding-bottom: 0px
    hr
        border: none
        border-bottom: 1px solid #ddd
        margin: 0
    .header_image
        width: 100%
        background-image: url("/assets/images/dummy.jpg")
        background-size: cover
        height: 130px
        background-position: center
    .wrapper
        .inner
            +span-columns(6)
            +shift(3)
            +media($md)
                +span-columns(10)
                +shift(1)
            +media($mobile)
                +span-columns(12)
                +shift(0)
            h1
                margin-bottom: 10px
                margin-top: 30px
            .breadcrumbs
                margin-bottom: 30px
                .spanArrow
                    margin: 0 10px
            &.blog
                padding-bottom: 160px
                img
                    max-width: 100%
                p:not(.intro)
                    font-family: Unna
                    font-size: 22.62px
                    letter-spacing: -0.5px
                    line-height: 27px
    .gallery_single_content
        padding: 30px 0 50px 0
        +media($sm)
            padding: 30px 0 40px 0
        +media($mobile)
            padding: 30px 0 30px 0
        .row_items
            +row()
            .image
                display: inline-block
                margin: 0px 5px 5px 0
                width: 16.2%
                float: left
                +media($mobile)
                    width: 31%
                div
                    width: 100%
                    padding-top: 75.5%
                    background-repeat: no-repeat
                    background-size: cover
                    background-position: center
                    cursor: pointer