<div id="gallery">
    <div class="wrapper">
        <div class="inner">
            <h1>{{post ? post.title.rendered : "..."}}</h1>
            <div class="breadcrumbs">
                <span><a href="#" routerLink="/">Spider Grupa</a> <span class='spanArrow'>></span> </span>
                <span><a href="#" routerLink="/gallery">{{post ? post.title.rendered : "..."}}</a> <span class='spanArrow'>></span> </span>
                <span>{{title ? title : "..."}} </span>
            </div>
        </div>
    </div>
    <hr/>
    <div class="gallery_single_content">
        <div class="wrapper">
            <p><a href="#" routerLink="/gallery" class="link">{{"gallery.all_albums" | translate}}</a></p>
            <h2>{{title}}</h2>
            <div class="row_items">
                <div *ngFor="let image of images; let i=index" class="image">
                    <div [style.backgroundImage]="'url(' + image.image.sizes.gallery_item + ')'" (click)="open(i)"></div>
                </div>
            </div>
        </div>
    </div>
</div>
