<ul class='pagination-data'>
    <li *ngFor="let paginationItem of paginationData" [ngClass]="{'active': paginationItem.active == true, 'notLink': paginationItem.isLink == false}">
        <a routerLink='{{paginationItem.routerLink}}' *ngIf="paginationItem.isLink != false">{{paginationItem.text}}</a>
        <span *ngIf="paginationItem.isLink === false">{{paginationItem.text}}</span>
    </li>
</ul>