@import "~bourbon-neat/app/assets/stylesheets/neat"
@import "~bourbon-neat/app/assets/stylesheets/neat-helpers"
@import "../../../styles"

.pagination-data
    +row()
    margin: 0
    padding: 0
    li
        list-style: none
        display: inline-block
        border: 1px solid transparent
        +customTransition(200ms)
        margin-right: 5px
        +center()
        vertical-align: top
        a
            padding: 10px 0
            display: inline-block
            width: 40px
            height: 40px
            color: #005356
            cursor: pointer
            line-height: 18px
            +media($mobile)
                width: auto
                min-width: 20px
                height: 20px
                padding: 3px 3px
        &:hover
            border: 1px solid #ddd
        &.active
            //border: 1px solid #005356
            color: #005356
        &.notLink
            border: 1px solid #005356
            color: #515058
            span
                width: 40px
                height: 40px
                display: inline-block
                padding: 10px 0
                line-height: 18px
                +media($mobile)
                    width: auto
                    min-width: 20px
                    height: 20px
                    padding: 3px 3px
            a
                padding: 0
                padding-top: 12px
                    