/* You can add global styles to this file, and also import other style files */
//GLOBAL
@charset "utf-8"
@import "~bourbon-neat/app/assets/stylesheets/neat"
@import "~bourbon-neat/app/assets/stylesheets/neat-helpers"

@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,900|Unna:400,400i,700&subset=latin-ext')

// Change the grid settings 
$column: 90px
$gutter: 30px
$grid-columns: 12
$max-width: 1440px

// Define your breakpoints
// Neat Breakpoints

$tablet-vertical: 480px
$tablet-horizontal: 768px
$medium-screen: 1024px
$large-screen: 1440px
$xlarge-screen: 1441px

$mobile: new-breakpoint(max-width $tablet-vertical 12)
$sm: new-breakpoint(max-width $tablet-horizontal 12)
$md: new-breakpoint(max-width $medium-screen 12)
$lg: new-breakpoint(max-width $large-screen 12)
$xl: new-breakpoint(min-width $xlarge-screen 12)

//COLORS
$primary: #005356
$text: #16132D

.wrapper
    +outer-container()
    +pad(0 30px)

body
    margin: 0
    padding: 0
    font-family: 'Source Sans Pro', sans-serif
    font-size: 16px
    line-height: 22.5px
    color: $text
    overflow-x: hidden
    width: auto
    
p
    font-size: 1em
    line-height: 1.4em
    color: #515058
    &.intro
        font-size: 1.999em
        line-height: 1.4em
        font-weight: 300
        +media($lg)
            font-size: 1.69em
            line-height: 1.3em
        
    
    &.big
        font-size: 1.414em
        line-height: 1.4em
        +media($lg)
            font-size: 1.3em
            line-height: 1.53em
        +media($md)
            font-size: 1.2em
            line-height: 1.4em
        
    
    &.small
        font-size: 0.707em
        line-height: 1.4em
        +media($lg)
            font-size: 0.7em
            line-height: 0.9em
        
    
a
    text-decoration: none

a.link
    color: $primary
    text-decoration: none
    border-bottom: 1px solid #ddd
    transform: .3s ease
    &:hover
        border-bottom: 1px solid $primary
    
h1
    font-family: 'Unna', serif
    font-style: italic
    font-weight: 400
    font-size: 3.998em
    line-height: 1.2em
    letter-spacing: -1px
    margin: 0
    +media($lg)
        font-size: 2.856em
        line-height: 1.3em
    +media($mobile)
        font-size: 2.856em
        line-height: 1.1em
    

h2
    font-family: 'Unna', serif
    font-weight: 700
    font-size: 2.827em
    line-height: 1em
    letter-spacing: -1px
    color: $primary
    +media($lg)
        font-size: 2.197em
        line-height: 1em
    

h3
    font-family: 'Unna', serif
    font-weight: 400
    font-size: 1.999em
    line-height: 1.18em
    +media($lg)
        font-size: 1.69em
        line-height: 1.2em
    

h4
    font-family: 'Source Sans Pro', sans-serif
    font-weight: 700
    font-size: 1.414em
    line-height: 1.20em
    +media($lg)
        font-size: 1.3em
        line-height: 1.09em
    

h5
    font-weight: 900
    font-size: 1em
    line-height: 0.80em
    font-family: 'Source Sans Pro', sans-serif
    color: $primary
    +media($lg)
        font-size: 1em
        line-height: 1em
    

h6
    font-family: 'Source Sans Pro', sans-serif
    font-weight: 900
    font-size: 0.707em
    line-height: 0.41em
    letter-spacing: 2px
    text-transform: uppercase
    +media($lg)
        font-size: 0.9em
        line-height: 0.66em

@mixin customTransition($time)
    -webkit-transition: all $time cubic-bezier(0.770, 0.000, 0.175, 1.000) 
    -moz-transition: all $time cubic-bezier(0.770, 0.000, 0.175, 1.000) 
    -o-transition: all $time cubic-bezier(0.770, 0.000, 0.175, 1.000) 
    transition: all $time cubic-bezier(0.770, 0.000, 0.175, 1.000) /* easeInOutQuart */
    
    -webkit-transition-timing-function: cubic-bezier(0.770, 0.000, 0.175, 1.000) 
    -moz-transition-timing-function: cubic-bezier(0.770, 0.000, 0.175, 1.000) 
    -o-transition-timing-function: cubic-bezier(0.770, 0.000, 0.175, 1.000) 
    transition-timing-function: cubic-bezier(0.770, 0.000, 0.175, 1.000) /* easeInOutQuart */

@mixin center()
    text-align: center

@mixin left()
    text-align: left

@mixin right()
    text-align: right

@mixin omega-reset($nth)
    &:nth-child(#{$nth})
        margin-right: flex-gutter()
    &:nth-child(#{$nth}+1)
        clear: none

.breadcrumbs
    color: #A6A8AB
    a
        color: #A6A8AB
        border: none
        text-decoration: none

.form-input
    width: 100%
    height: 50px
    box-shadow: 0 1px 4px 0 rgba(0,0,0,0.08);
    border: 1px solid #D2D2D2;
    margin-bottom: 10px
    padding: 15px
    outline: none
    font-family: 'Source Sans Pro', sans-serif
    font-size: 1em

textarea.form-input
    resize: none
    height: 150px
    font-size: 1em

.small.error
    display: none

button
    height: 50px
    padding: 0 40px
    background-color: $primary
    color: white
    font-weight: bold;
    font-family: 'Source Sans Pro', sans-serif
    outline: none
    font-size: 16px
    border: none
    border-radius: 3px
    &:disabled
        opacity: .1
        cursor: disabled

.error
    color: red
    display: none
    margin-top: 0

.ng-dirty.ng-invalid.ng-touched + .error
    display: block
